* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  background-color: rgb(110, 27, 2);
  color: #fff;
  padding: 40px 20px;
  border-radius: 9px;
  font-family: sans-serif;
  max-width: 500px;
  margin: 50px auto;
}
.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.title-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
input {
  font-family: sans-serif;
  border: none;
  padding: 10px 10px;
  margin: 40px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}
ul li {
  font-size: 18px;
  list-style: none;
  padding: 10px 0px;
}
.flex-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.5s;
}
.delete:hover,
button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transform: translate(0, -4px);
}
button {
  text-transform: uppercase;
  font-size: 18px;
  max-width: 400px;
  width: 100%;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.5s;
  border: none;
}
button:hover {
  transform: translate(0, 4px);
}

#add-form #hide {
  width: 30px;
}
#add-form label {
  line-height: 52px;
}

#tabbed-content li {
  display: inline-block;
  padding: 10px 14px;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#tabbed-content .panel {
  display: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 4px;
}

#tabbed-content .panel.active {
  display: block;
}
